body{
    background-color: rgb(75, 71, 71);
    text-align: center;
}
#naf {
    background-color: black;
    padding: 10px;
    text-align:end;
}
nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;
}
.head { 
    color: whitesmoke;
    padding: 20px;
    text-decoration: underline;
}
article {
    
    padding: 55px;
}
article h2 {
    color: bisque;
}

.para {
    font-family: 'arial', sans-serif;
    color: white;
    line-height: 1.6;
}
.image {
    max-width: 50%;
    border: 1px solid white;
    display: block;
    margin-right:20px 0;
    height: auto;
   display: flex;
}
.styled-video{
    width: 50%;
    border: 2px solid gray;
    margin-top: 20px;

}






footer{
    background-color: black;
    color: white;
    padding: 10px;
}